/.AddAssemblyContextConstructorCorrespondenceRoutine.java._trace
/.AddAssemblyContextFieldCorrespondenceRoutine.java._trace
/.AddAssemblyContextImportCorrespondenceRoutine.java._trace
/.AddInnerDeclarationToCompositeDataTypeRoutine.java._trace
/.AddMissingClassifierCorrespondenceRoutine.java._trace
/.AddPackageCorrespondenceRoutine.java._trace
/.AddParameterAndAssignmentToConstructorRoutine.java._trace
/.AddProvidedRoleCorrespondenceRoutine.java._trace
/.AddProvidedRoleRoutine.java._trace
/.AddRepositoryCorrespondenceRoutine.java._trace
/.AddRequiredRoleRoutine.java._trace
/.AddSuperTypeToDataTypeRoutine.java._trace
/.AddSystemCorrespondenceRoutine.java._trace
/.ChangeInnerDeclarationTypeRoutine.java._trace
/.ChangeInterfaceMethodReturnTypeRoutine.java._trace
/.ChangeMethodForSeffRoutine.java._trace
/.ChangeParameterTypeRoutine.java._trace
/.ChangeReturnTypeOfMethodForOperationSignatureRoutine.java._trace
/.ChangeSystemImplementationNameRoutine.java._trace
/.ChangeTypeOfInnerDeclarationImplementationRoutine.java._trace
/.CreateAssemblyContextConstructorRoutine.java._trace
/.CreateAssemblyContextFieldRoutine.java._trace
/.CreateAssemblyContextImportRoutine.java._trace
/.CreateAssemblyContextStatementRoutine.java._trace
/.CreateCollectionDataTypeImplementationRoutine.java._trace
/.CreateCompilationUnitRoutine.java._trace
/.CreateComponentImplementationRoutine.java._trace
/.CreateCompositeDataTypeImplementationRoutine.java._trace
/.CreateImplementationForComponentRoutine.java._trace
/.CreateImplementationForSystemRoutine.java._trace
/.CreateInnerDeclarationImplementationRoutine.java._trace
/.CreateJavaClassRoutine.java._trace
/.CreateJavaInterfaceRoutine.java._trace
/.CreateJavaPackageRoutine.java._trace
/.CreateMethodForOperationSignatureRoutine.java._trace
/.CreateOrFindAssemblyContextConstructorRoutine.java._trace
/.CreateOrFindAssemblyContextFieldRoutine.java._trace
/.CreateOrFindAssemblyContextImportRoutine.java._trace
/.CreateOrFindDataTypeClassRoutine.java._trace
/.CreateOrFindJavaClassRoutine.java._trace
/.CreateOrFindJavaInterfaceRoutine.java._trace
/.CreateOrFindJavaPackageRoutine.java._trace
/.CreateParameterRoutine.java._trace
/.CreateRepositoryPackagesRoutine.java._trace
/.CreateRepositorySubPackagesRoutine.java._trace
/.CreateSEFFRoutine.java._trace
/.DeleteJavaClassifierRoutine.java._trace
/.DeleteJavaPackageRoutine.java._trace
/.DeleteMethodForOperationSignatureRoutine.java._trace
/.DeleteMethodForSeffRoutine.java._trace
/.DeleteParameterRoutine.java._trace
/.FindOrAddProvidedRoleRoutine.java._trace
/.ReinitializeOperationRequiredRoleRoutine.java._trace
/.RemoveCorrespondingParameterFromConstructorRoutine.java._trace
/.RemoveParameterToFieldAssignmentFromConstructorRoutine.java._trace
/.RemoveProvidedRoleRoutine.java._trace
/.RemoveRequiredRoleRoutine.java._trace
/.RenameCollectionDataTypeRoutine.java._trace
/.RenameComponentClassRoutine.java._trace
/.RenameComponentPackageAndClassRoutine.java._trace
/.RenameCompositeDataTypeRoutine.java._trace
/.RenameInnerDeclarationImplementationRoutine.java._trace
/.RenameInterfaceRoutine.java._trace
/.RenameJavaClassifierRoutine.java._trace
/.RenameJavaPackageRoutine.java._trace
/.RenameMethodForOperationSignatureRoutine.java._trace
/.RenamePackageForRepositoryRoutine.java._trace
/.RenameParameterRoutine.java._trace
/.RoutinesFacade.java._trace
/.RoutinesFacadesProvider.java._trace
/.UpdateSEFFImplementingMethodNameRoutine.java._trace
/AddAssemblyContextConstructorCorrespondenceRoutine.java
/AddAssemblyContextFieldCorrespondenceRoutine.java
/AddAssemblyContextImportCorrespondenceRoutine.java
/AddInnerDeclarationToCompositeDataTypeRoutine.java
/AddMissingClassifierCorrespondenceRoutine.java
/AddPackageCorrespondenceRoutine.java
/AddParameterAndAssignmentToConstructorRoutine.java
/AddProvidedRoleCorrespondenceRoutine.java
/AddProvidedRoleRoutine.java
/AddRepositoryCorrespondenceRoutine.java
/AddRequiredRoleRoutine.java
/AddSuperTypeToDataTypeRoutine.java
/AddSystemCorrespondenceRoutine.java
/ChangeInnerDeclarationTypeRoutine.java
/ChangeInterfaceMethodReturnTypeRoutine.java
/ChangeMethodForSeffRoutine.java
/ChangeParameterTypeRoutine.java
/ChangeReturnTypeOfMethodForOperationSignatureRoutine.java
/ChangeSystemImplementationNameRoutine.java
/ChangeTypeOfInnerDeclarationImplementationRoutine.java
/CreateAssemblyContextConstructorRoutine.java
/CreateAssemblyContextFieldRoutine.java
/CreateAssemblyContextImportRoutine.java
/CreateAssemblyContextStatementRoutine.java
/CreateCollectionDataTypeImplementationRoutine.java
/CreateCompilationUnitRoutine.java
/CreateComponentImplementationRoutine.java
/CreateCompositeDataTypeImplementationRoutine.java
/CreateImplementationForComponentRoutine.java
/CreateImplementationForSystemRoutine.java
/CreateInnerDeclarationImplementationRoutine.java
/CreateJavaClassRoutine.java
/CreateJavaInterfaceRoutine.java
/CreateJavaPackageRoutine.java
/CreateMethodForOperationSignatureRoutine.java
/CreateOrFindAssemblyContextConstructorRoutine.java
/CreateOrFindAssemblyContextFieldRoutine.java
/CreateOrFindAssemblyContextImportRoutine.java
/CreateOrFindDataTypeClassRoutine.java
/CreateOrFindJavaClassRoutine.java
/CreateOrFindJavaInterfaceRoutine.java
/CreateOrFindJavaPackageRoutine.java
/CreateParameterRoutine.java
/CreateRepositoryPackagesRoutine.java
/CreateRepositorySubPackagesRoutine.java
/CreateSEFFRoutine.java
/DeleteJavaClassifierRoutine.java
/DeleteJavaPackageRoutine.java
/DeleteMethodForOperationSignatureRoutine.java
/DeleteMethodForSeffRoutine.java
/DeleteParameterRoutine.java
/FindOrAddProvidedRoleRoutine.java
/ReinitializeOperationRequiredRoleRoutine.java
/RemoveCorrespondingParameterFromConstructorRoutine.java
/RemoveParameterToFieldAssignmentFromConstructorRoutine.java
/RemoveProvidedRoleRoutine.java
/RemoveRequiredRoleRoutine.java
/RenameCollectionDataTypeRoutine.java
/RenameComponentClassRoutine.java
/RenameComponentPackageAndClassRoutine.java
/RenameCompositeDataTypeRoutine.java
/RenameInnerDeclarationImplementationRoutine.java
/RenameInterfaceRoutine.java
/RenameJavaClassifierRoutine.java
/RenameJavaPackageRoutine.java
/RenameMethodForOperationSignatureRoutine.java
/RenamePackageForRepositoryRoutine.java
/RenameParameterRoutine.java
/RoutinesFacade.java
/RoutinesFacadesProvider.java
/UpdateSEFFImplementingMethodNameRoutine.java
